/*  your css code here. If applicable */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.container {
  background-color: #d3d3d3;
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.red, .green, .yellow {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
